.blink {
		animation: blinkingBackground 3s infinite;
}

@keyframes blinkingBackground{
  0%		{ background-color: #1056c0;}
  50%	{ background-color: #04a1d5;}
  100%		{ background-color: #1056c0;}
}
